<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フラッシュ暗算</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        body{
            background:black;
        }
        p{
            color:green;
            text-align:center;
            font-size:100px; 
            margin: 15%;
        }
        button{
            font-size:25px; 
        }
        div#cfg{
            color:white;
        }
    </style>
</head>
<body>
    <div id="app">
        <p>{{text}}</p>
        <div id="cfg" v-show="isscfg">
            <button v-on:click="start">始める</button><br>
            回数:<input type="number" v-model="maxcount"><br>
            桁数:<input type="number" v-model="dig"><br>
            一秒に表示する数:<input type="number" v-model="intriam"><br>
            効果音:<input type="file" v-on:change="sechange">
        </div>
        <audio v-bind:src="sefile"></audio>
    </div>
    <script>
        let app = new Vue({
            el: "#app",
            data:{
                isscfg:true,
                intriam:7,

                dig:5,
                digit:100000,

                interval:0,
                maxcount:50,

                count:0,
                sefile:"",
                nums:[],
                text:"フラッシュ暗算"
            },methods:{
                start:e=>{
                    app.isscfg = false;
                    app.digit = 10 ** app.dig - 1;
                    app.interval = (1000 / app.intriam);
                    app.count = 0;
                    app.text = "3";
                    app.nums = [];
                    se();
                    setTimeout(e=>{
                        app.text = "2";
                        se();
                        setTimeout(e=>{
                            app.text = "1";
                            se();
                            setTimeout(e=>{
                                setTimeout(nextcallBack,app.interval);
                            },1000);
                        },1000);
                    },1000);
                },sechange:e=>{
                    if(e.srcElement.files.length >= 1){
                        let f = e.srcElement.files[0];
                        app.sefile = "data:" + f.type + ";base64,";
                        f.arrayBuffer().then(t=>{
                            const ui8aa = new Uint8Array(t);
                            const decodebs = u => u.reduce(
                                (bs,u8)=>bs+String.fromCharCode(u8),''
                            );
                            const bsa = decodebs(ui8aa);
                            app.sefile += btoa(bsa);
                        })
                    }
                }
            }
        });
        function nextcallBack(){
            app.count++;
            
            let r = Math.floor(Math.random() * app.digit);
            app.nums.push(r);
            while(r.toString().length < app.dig){
                r = "0" + r.toString();
            }
            app.text = r;
            if(app.count >= app.maxcount){
                setTimeout(e=>{
                    app.text = "フラッシュ暗算";
                    let ans = 0;
                    app.nums.forEach(e=>ans+=e);
                    console.log(ans);
                    app.isscfg = true;
                },app.interval);
                return;
            }
            se();
            setTimeout(nextcallBack,app.interval);
        }
        function se(){
            let see = document.querySelector("audio");
            see.currentTime = 0;
            see.play();
        }
    </script>
</body>
</html>